.nav {
    padding: 25px 0 0; 
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: flex-start;
}

.nav__item {
    display: inline;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin: 15px 0 38px;
    transition: color .2s linear;
}

.nav__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff57;
    padding: 0 30px;
}

.nav__item:hover {
    color: #e9ec1e;
}

.nav__logo {
    margin: 0px 60px;
}

