.btn {
    display: inline-block;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    color: #fff;
    background: inherit;
    cursor: pointer;
    text-align: center;


    &__intro__proz {
        font-size: 16px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 25px 70px;
        color: #fff;
        border: #ffffff80 1px solid;
        margin: 0 25px;

        // &:hover {

        // }
    }

    &__intro__yellow {
        font-size: 16px;
        border-radius: 5px ;
        text-transform: uppercase;
        font-weight: 600;
        padding: 25px 55px;
        background-color: #E8C300;
        color: #fff ;
        border: #E8C300 1px solid;
        margin: 0 25px;
    }

    &__intro__arrow {
        display: inline-block ;
        padding: 0;
        padding-top: 110px;
    }

}