.btn {
    display: inline-block;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    color: #fff;
    background: initial;
    cursor: pointer;
    text-align: center;
    

    &__intro__proz {
        font-size: 16px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 25px 70px;
        color: #fff;
        border: #ffffff80 1px solid;
        margin: 0 25px;
        box-shadow: 0 0 0 0 #E8C300 inset;
        transition:  box-shadow .2s linear;


        &:hover {
            box-shadow: 0 0 40px 40px #E8C300 inset;
        }
    }

    &__intro__yellow {
        font-size: 16px;
        border-radius: 5px ;
        text-transform: uppercase;
        font-weight: 600;
        padding: 25px 55px;
        background: #E8C300;
        color: #fff ;
        border: #E8C300 1px solid;
        margin: 0 25px;
        transition:  all .2s linear;


        &:hover {
           background: initial;
           border: #ffffff80 1px solid;
        }
    }

    &__intro__arrow {
        display: inline-block ;
        padding: 0;
        padding-top: 110px;

        &:hover {
            animation: btnArrow 1.4s cubic-bezier(0, 0.6, 1, 0.4) infinite .2s;
        }
    }


    &__menu {
        background: #E8C300;
        border-radius: 10px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 15px 40px;
        font-weight: 500;

        &__number {
            margin-top: 10px;
            background: #E8C300;
            font-size: 22px;
            text-transform: uppercase;
            padding: 15px;
            border-radius: 4px;
            font-weight: 600;
            transition: all .3s linear;
            &:hover {
                background: #000;
            }
        }
    }
    
    &__promotion {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
        padding: 20px 60px;
        color: #fff;
        border: #ffffff80 1px solid;
    }

    &__promotion__arrow__left {
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 50px;
        text-align: center;
        transform: rotate(90deg);
        height: 62px;
        z-index: 101;
    }

    &__promotion__arrow__right {
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 50px;
        text-align: center;
        transform: rotate(-90deg);
        height: 62px;
        z-index: 101;
    }

    &__table {
        background: #E8C300;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        border-radius: 5px;
        padding: 20px 50px;
    }

    &__review {
        background: #000;
        border-radius: 5px;
        font-size: 20px;
        padding: 20px 40px;
        transition: all .2s linear;
        text-transform: uppercase;

        &:hover {
            background: #E8C300;
        }
    }
}

@keyframes btnArrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}