.footer {
    padding: 50px 0;
    background: #000;
    text-align: center;

    &__text {
        color: #fff;
        font-size: 20px;
        padding-bottom: 40px;
    }

    &__icons {
        display: flex;
        justify-content: center;
    }

    &__icon {
        padding: 25px;
        border-radius: 100%;
        border: 1px solid #ffffff52;
        display: flex;
        margin: 0 20px;
        > img {
            width: 20px;
            height: 20px;
        }
    }
}