.promotion {
    // background-image: url("../../img/png/specialt-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s linear;

    &.activeSlide {
        opacity: 1;
        transform: translateX(0);
    }

    &.lastSlide {
       
        transform: translateX(-100%);
    }
    &.nextSlide {
        transform: translateX(100%);
    }


    &__slider {
        width: 100%;
        height: 600px;
        position: relative;
        background-color: rgb(0, 0, 0);

        &__content {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }
    
    &__inner {
        text-align: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__headline {
        font-size: 35px;
        color: #fff;
    }

    &__text {
        color: #fff;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__cyrcles {
        bottom: 20px;
        left: 0;
    }

    &__category {
        top: 40px;
    }
}