.profile {
    


    &__red {
        background: red;
        border: 1px solid red;
    }

    &__yellow {
        background: #E8C300;
        border: 1px solid #E8C300;
    }

    &__green {
        border: 1px solid #14a54b;
        background: #14a54b;
    }

    &__inner {
        padding: 50px 0;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        &__history {
            width: 50%;
            overflow-y: scroll;
            height: 500px;
            padding: 10px;

            &::-webkit-scrollbar {
                width: 15px;
              }
              
              /* Track */
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey; 
                border-radius: 10px;
                
              }
               
              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #E8C300; 
                border-radius: 10px;
                transition: background .5s linear;
              }
              
              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: rgb(212, 178, 8)
              }

            &__item {
                text-align: left;
                display: flex;
                padding: 15px;
                border: 1px #E8C300 solid;
                border-radius: 15px;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 10px;

                &__img {
                    width: 15%;
                    margin-right: 20px;
                }

                &__title {
                    font-size: 22px;
                    text-transform: uppercase;
                    font-family: "M PLUS 1p", sans-serif

                }

                &__text {
                    text-align: left;
                    font-size: 16px;
                    color: #000000b9

                }

                &__status {
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    height: min-content;
                    border-radius: 20px;
                   
                    padding: 15px 20px;
                    
                    margin-left: 10px;
                }
            }
        }

        &__data {
            width: 50%;


            &__item {
                display: flex;
                padding-bottom: 20px;
                justify-content: center;

                &__input {
                    padding: 15px 20px;
                    font-size: 23px;
                    border: 1px solid #E8C300;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;

                }
            }
        }
    }
}


